@import url(https://fonts.googleapis.com/css2?family=Outfit&display=swap);
body {
    background-color: white;
    font-size: 15px;
    font-family:'Outfit', sans-serif;
    height:100vh 
}
.main-wrapper{
    background-color:#d7e0ed;
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px rgba(168, 167, 167, 0.5);

}
.card-bg{
    background-color: white;
    padding: 10px;
    border: 0.5px solid #dbdbdb;
    border-radius: 22px;
    width: 255px;
    box-shadow:2px 5px 20px rgba(211, 215, 220, 0.903);
}
.card-bg img {
    width: 100%;
    border-radius: 18px;
}
h2{
    font-weight: 700 !important
}
p{
    color: hsl(216, 15%, 48%);
}